/* aumenta o tamanho da fonte, quando em tela cheia */
:-webkit-full-screen, :-moz-full-screen, :fullscreen {
  width:100%;
  background: #FFF !important;
}
/* vídeo em tela cheia */
#video-content:fullscreen {
  width: 100%;
  height: 100%;
  background: #FFF !important;
}

#video-content video:fullscreen {
  width: 100%;
  height: 100%;
}

#video-content .canvas-image:fullscreen{
  right: 12.5%;
}
